tracy_raw/
tracy_direct/
tracy/*/.logs/
tracy/*/reports/*/profile_log_device.csv
tracy/*/reports/*/tracy_profile_log_host.tracy
watcher_final/generated/
watcher_eth_enabled_failure/generated/
watcher_pre_reset_failure/generated/
