tracy_raw/
tracy_direct/
tracy/*/.logs/
tracy/*/reports/*/profile_log_device.csv
tracy/*/reports/*/tracy_profile_log_host.tracy
tracy_host/*/.logs/
tracy_host/*/reports/*/profile_log_device.csv
tracy_host/*/reports/*/tracy_profile_log_host.tracy
tracy_host/*/*_summary.png
tracy_host_ep2/*/.logs/
tracy_host_ep2/*/reports/*/profile_log_device.csv
tracy_host_ep2/*/reports/*/tracy_profile_log_host.tracy
watcher_final/generated/
watcher_eth_enabled_failure/generated/
watcher_pre_reset_failure/generated/
